<strong>Зал:</strong>
  <%= @room.title %>
  <br>
 
  Занятия в зале

<br>
<br>
  <table class= "table table-striped">
    <thead>
      <tr>
        <strong></strong>
      </tr>
    </thead>

    <tbody>
      <tr>
   
      </tr>

    </tbody>
  </table>
<br>

<br>
<%= link_to 'Редактировать', edit_admin_room_path(@room) %> 
<br>
<%= link_to 'Назад', admin_rooms_path %>