  <td>   
    <%= form_tag(sign_out_done_admin_lesson_path, method: :delete, data: { confirm: 'Подтверждаете отмену записи?' }) do %>
      <%= hidden_field_tag :student_id, student.id %>
      <%= submit_tag 'Отменить запись', class: "btn btn-default" %>
    <% end %> 
   </td>
