  <td>   
    <%= form_tag(sign_done_admin_lesson_path, method: :patch) do %>
      <%= hidden_field_tag :student_id, student.id %>
      <%= submit_tag 'Записать', class: "btn btn-default" %>
    <% end %> 
   </td>
