<h1>Ученики</h1>

<table class= "table table-striped">
  <thead>
    <tr>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <%= render @students  %>
  </tbody>
</table>

<%= link_to 'Новый ученик', new_admin_student_path %>
<br>
<%= link_to 'Основное меню', admin_welcome_index_path %>