<h1>Lessons#index</h1>

<table class= "table table-striped">
  <thead>
    <tr>
      <th>Занятия</th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <th>Урок </th>
    <th>Группа</th>
    <th> Препод </th>
    <th> Дата и время </th>    
  </tr>
    <%= render @lessons %>
  </tbody>
</table>

<%= link_to 'Новый урок', new_admin_lesson_path %>
<br>
<%= link_to 'Основное меню', root_path %>