<strong>Группа:</strong>
  <%= @group.title %>
  <br>
 
  Направление: <%= @group.style %>

<br>
<br>
  <table class= "table table-striped">
    <thead>
      <tr>
        <strong>Занятия в рамках группы</strong>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>Направление </th>
        <th> Дата и время </th>    
      </tr>
      <%= render partial: 'lessons/lesson_item', collection: @group.lessons, as: :lesson %>
    </tbody>
  </table>
<br>