<h1>groups#index</h1>

<table class= "table table-striped">
  <thead>
    <tr>
      <th>Группы</th>

    </tr>
  </thead>

  <tbody>
    <% @groups.by_title.each do |group|%>
      <tr>  
        <%= render group %>
        <td>Пункт меню записи</td>
      </tr>
    <%end%>
  </tbody>
</table>

<%= link_to 'Новая группа', new_admin_group_path %>
<br>
<%= link_to 'Основное меню', root_path %>