<h1>Занятия</h1>

<table class= "table table-striped">
  <thead>
    <%= render 'head' %>
  </thead>

  <tbody>
    <% @lessons.by_time.each do |lesson|%>
      <tr>  
        <%= render lesson %>
        <td><%= link_to 'Запись', sign_lesson_path(lesson)%></td>
      </tr>
    <%end%>
  </tbody>
</table>

<br>
<%= link_to 'Основное меню', root_path %>