<h1>Lessons#index</h1>

<table class= "table table-striped">
  <thead>
    <tr>
      <th>Занятия</th>

    </tr>
  </thead>

  <tbody>
    <%= render @lessons %>
  </tbody>
</table>

<br>
<%= link_to 'Основное меню', root_path %>