<h1>Ваши занятия</h1>
<%= link_to 'Прошедшие', in_past_lessons_path %>
<%= link_to 'Будущие', my_lessons_path %>
  <table class= "table table-striped">
    <thead>
      <tr>
        <th>Занятия</th>
      </tr>
    </thead>

    <tbody>
    <tr>
      <th> Урок </th>
      <th> Группа </th>
      <th> Преподаватель </th>
      <th> Дата и время </th>    
    </tr>
    <% @lessons.each do |lesson|%>
      <tr>  
        <%= render lesson %>
      </tr>
    <%end%>  
    </tbody>
  </table>
<br>

<%= link_to 'Основное меню', root_path %>