<h1>teachers#index</h1>

<table class= "table table-striped">
  <thead>
    <tr>
      <th>Преподаватели</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher|%>
      <tr>  
        <%= render teacher %>
      </tr>
    <%end%>
  </tbody>
</table>

<br>
<%= link_to 'Основное меню', root_path %>